@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');


:root {
    --primary-background: '';
    --secondary-background: '';
}

/* Modern Monomap Markers */
#eventLogo {
    position: fixed;
    top: 100px;
    right: 25px;
    width: 220px;
    cursor: pointer;
}

@keyframes glow {
    0% { opacity: 25%; }
    50% { opacity: 75%; }
    100% { opacity: 25%;}
}
 
.monomaps-maps-markerPreview {
    width: 300px;
    height: fit-content;
    padding-bottom: 10px;
    background-color: #22272e;
    box-shadow: 0px 0px 12px black;
    border: 1px solid #4e545c;
    overflow: hidden;
    border-radius: .5em;
}

.monomaps-maps-markerPreview .monomaps-maps-imgPreview {
    width: 300px;
    height: 100px;
}

.monomaps-maps-markerPreview .monomaps-maps-descriptPreview {
    margin-top: 20px;
    overflow: hidden;
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    max-width: 275px;
    max-height: 25px;
    font-size: 12px;
    color: white;
}

.monomaps-maps-markerPreview .monomaps-maps-previewContainer {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 25px;
}


/* Modern Theme  */

body {
    background: fixed;
    color: white;
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    scroll-behavior: smooth;
}

.shake {
    transform: translateX(-50%);
}

.monomaps-footer-description {
    position: fixed;
    bottom: 0px;
    left: -596px;
    font-size: 10.5px;
    color: gray;
    padding: 5px;
    user-select: none;
    transition: 500ms;
    overflow: hidden;
    background-color: #13131398;
}

.monomaps-footer-description:hover {
    left: 0;
    background-color: #131313;
}

.monomaps-maps-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.monomaps-maps-maparea {
    width: 2048px;
    height: 2048px;
    background: #040404;
    background-size: 2048px 2048px;
    transition: transform 300ms ease-out;
    transform: translateZ(0);
    transform-origin: 0 0;
    display: none;
    contain: strict;
    will-change: transform;
}

#mmMarkers {
    width: inherit;
    height: inherit;
}

.enlarge {
    font-size: 25px !important;
}

.monomaps-maps-button-rounded {
    display: inline-block;
    border-radius: 6px;
    background: #373e47;
    border: 1px solid rgba(205, 217, 299, 0.1);
    color: rgb(115, 152, 238);
    font-size: 14px;
    margin: 2px;
    margin-top: 10px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 500ms;
    font-weight: bold;
    white-space: nowrap;
}

.monomaps-maps-button-rounded:hover {
    background: #4e545c;
}

.monomaps-maps-button-rounded-caution {
    display: inline-block;
    margin-top: 10px;
    white-space: nowrap;
    border-radius: 6px;
    background: #373e47;
    border: 1px solid rgba(205, 217, 299, 0.1);
    color: rgb(238, 115, 115);
    font-size: 14px;
    margin: 2px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 500ms;
    font-weight: bold;
}

.monomaps-maps-button-rounded-caution:hover {
    background: #4e545c;
}

.monomaps-maps-button-rounded-success {
    display: inline-block;
    margin-top: 10px;
    white-space: nowrap;
    border-radius: 6px;
    background: #373e47;
    border: 1px solid rgba(205, 217, 299, 0.1);
    color: rgb(125, 238, 115);
    font-size: 14px;
    margin: 2px;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 15px;
    padding-right: 15px;
    transition: 500ms;
    font-weight: bold;
}

.monomaps-maps-button-rounded-success:hover {
    background: #4e545c;
}

.monomaps-maps-layerContainer {
    position: fixed;
    bottom: 15px;
    right: 75px;
    border-radius: .5em;
    background-color: #22272e;
    max-width: 300px;
    padding: 10px;
    height: fit-content;
    white-space: nowrap;
    user-select: none;
}

.monomaps-maps-layerContainer > .monomaps-maps-layerItem {
    width: 80px;
    display: inline-block;
    position: relative;
    opacity: .5;
    color: gray;
    transition: 500ms;
    cursor: pointer;
}

.monomaps-maps-layerContainer > .monomaps-maps-layerItem:hover {
    color: white;
    opacity: 1;
    outline: 1px solid white;
}

.monomaps-maps-layerContainer > .monomaps-maps-layerItem > .monomaps-maps-layerItemLabel {
    position: absolute;
    bottom: 5px;
    left: 5px;
}


.monomaps-maps-layerContainer > .monomaps-maps-layerItem img {
    width: inherit
}

.monomaps-maps-actionContainer {
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
}

.monomaps-maps-action {
  font-size: 26px;
  color: rgb(97, 97, 97);
  background-color: transparent;
  transition: 500ms;
  padding: 8px;
}

.monomaps-maps-action:nth-child(1n){
    margin-left: 5px;
}

.monomaps-maps-action:hover {
    color: white;
}

#searchBar {
    position: absolute;
    top: 5px;
    left: 15px;
    width: 355px;
    border: 1px solid #201f1f;
    border-radius: 15px;
    background-color: #202225a4;
}

#searchBar::placeholder {
    color: rgb(137, 137, 137);
}

#searchBarIcons {
    border: none;
    padding: 10px;
    width: 280px;
    background-color: inherit;
    margin-top: 10px;
    font-size: large;
    color: whitesmoke;
    transition: 500ms;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

#searchBar:focus {
    outline: none;
    background-color: #202225d6;
    color: white;
}

.monomaps-maps-infopanel {
    position: fixed;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 99;
    width: 408px;
    height: 100%;
    background-color: #22272e;
    transition: 500ms;
    user-select: none;
}

.monomaps-maps-infopanel-actions {
    text-align: center;
}

.monomaps-maps-infopanel-actions .monomaps-maps-button-rounded {
    font-size: 22px;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: .3em;
}


.monomaps-maps-infopanel-search {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 15px;
    left: 315px;
    transition: 500ms ease;
    color: gray;
}

.monomaps-maps-infopanel-search:hover {
    color: white;
}


.monomaps-maps-infopanel-img {
    width: inherit;
}


.monomaps-maps-infopanel-title {
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 22px;
}

#monomaps-maps-infopanel-badges {
    padding: 10px;
}

.monomaps-maps-infopanel-description {
    margin-left: 15px;
    margin-right: 15px;
    max-height: 40vh;
    padding-top: 15px;
    padding-bottom: 25px;
    padding-right: 15px;
    padding-left: 1.5px;
    overflow: auto;
}

.monomaps-maps-infopanel-description::-webkit-scrollbar {
    width: 5px;
}
   
.monomaps-maps-infopanel-description::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
.monomaps-maps-infopanel-description::-webkit-scrollbar-thumb {
    background-color: rgb(20, 20, 20) !important;
    outline: 0px solid transparent;
    border-radius: 25px;
}

.monomaps-maps-infopanel-dismiss {
    background-color: transparent;
    border: none;
    color: inherit;
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    position: absolute;
    top: 15px;
    left: 350px;
    transition: 500ms ease;
    color: gray;
    content: "\f00d";
}

.monomaps-maps-infopanel-dismiss:hover {
    color: white;
}

.monomaps-maps-infopanel-features {
    margin-left: 15px;
    font-size: 15px;
    color: gray;
}

#editTitle {
    position: absolute;
    top: 0;
    left: 0px;
    background-color: orange;
    color: black;
    padding: 5px;
    border-radius: 15px;
    font-size: small;
}

.markerInfo {
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-size: small;
    color: gray;
}

.slidein {
    left: 0px;
    animation-duration: 500ms;
    animation-name: slidein;
}

.slideout {
    left: -410px;
    animation-duration: 500ms;
    animation-name: slideout;
}

.monomaps-maps-editpanel-title {
    border: none;
    padding: 5px;
    font-size: x-large;
    background-color: #131313;
    color: white;
    margin: 5px;
    width: 275px;
}

.monomaps-maps-editpanel-description {
    border: none;
    padding: 5px;
    font-size: large;
    background-color: #131313;
    color: white;
    margin: 5px;
    width: 350px;
    height: 500px;
    resize: none;
}

.monomaps-maps-editpanel-icon {
    border: none;
    padding: 5px;
    font-size: x-large;
    background-color: #131313;
    color: gray;
    margin: 5px;
    width: 55px;
}

.monomaps-maps-infopanel-editor {
    position: fixed;
    top: 0;
    left: 404px;
    background-color: #1c2128;
    width: 100%;
    height: 100%;
    z-index: 99;
    transition: 1s;
    overflow: auto;
}

.hidden {
    opacity: 0;
    transition: all 1s;
}

.show {
    opacity: 1;
}

.listMarkers {
    padding: 10px;
    margin: 10px;
    user-select: none;
    cursor: pointer;
    transition: 250ms;
}

.listMarkers:hover {
    background-color: #04040453;
}

#markers {
    max-height: 80vh;
    overflow: auto;
    padding: 5px;
}

#markers::-webkit-scrollbar {
    width: 5px;
}

#settingsPanel {
    left: 0;
    width: 100vw;
    user-select: none;
}

#filterPanel {
    left: 0;
    width: 100vw;
    background-color: #040404ef;
    user-select: none;
}

.monomaps-maps-infopanel-container {
    position: absolute;
    top: 5%;
    left: 5%;
    max-width: 78%;
    user-select: none;
}

.fadein {
    animation: fadein 500ms;
}

.fadeout {
    animation: fadeout 500ms;
}

.contextMenu {
    position: fixed;
    z-index: 10000;
    box-shadow: 0px 0px 12px black;
    width: 175px;
    height: fit-content;
    background-color: #22272e;
    overflow: hidden;
    display: none;
    border-radius: .5em;
}.contextMenu .context-item {
    background-color: inherit;
    padding: 10px;
    font-weight: normal;
    font-size: 15px;
    cursor: pointer;
    color: white;
}.contextMenu .context-item-text {
    background-color: inherit;
    padding: 10px;
    font-weight: bold;
    font-size: 16px;
    cursor: default;
    color: rgb(166, 166, 166);
}.contextMenu .context-item:hover {
    background-color: #316dca;
}.contextMenu.visible {
    display: block;
}.contextMenu hr {
    margin: 5px;
}.contextWarning:hover {
    background-color: #ca3631 !important;
}

.mapMarkersListItem { 
    padding: 15px;
    transition: 1s;
    cursor: default;
}

.mapMarkersListItem:hover {
    background-color: #141414;
}

.mapMarkersClickable {
    cursor: pointer;
}

.markerList {
    list-style-type: none;
    padding: 0px;
    max-height: 300px;
    overflow: auto;
}

.noOverflow {
    max-height: none;
    overflow: hidden;
}

label {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin-top: 5px;
}

.monomaps-input {
    border: none;
    padding: 10px;
    min-width: 300px;
    background-color: inherit;
    margin-top: 10px;
    font-size: large;
    color: gray;
    transition: 500ms;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
}

#markerDescription {
    height: 100px;
}

input[type="color"] {
    width: 52px !important;
	height: 52px !important;
    padding: 3px;
    border: none;
}

.monomaps-input:hover {
    color: white;
}

.monomaps-input:focus {
    outline: none;
    background-color: #0404044b;
    color: white;
}

.monomaps-input::placeholder {
    color: rgb(68, 67, 67);
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #36393f;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

.pulse {
    animation: pulse 4s;
    animation-iteration-count: infinite;
    font-size: 44px !important;
}

@keyframes pulse {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.infoText {
    color: gray;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 18px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    -webkit-transition: 250ms;
    transition: 250ms;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: 250ms;
    transition: 250ms;
  }
  
  input:checked + .slider {
    background-color: rgba(13, 214, 13, 0.443);
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .settingsContainer {
    width: fit-content;
    max-height: 500px;
    overflow: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .settingsContainer div {
    min-width: 300px;
    background-color: #22272e;
    border: 1px solid #373e4771;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px;
    min-height: 75px;
    transition: 200ms;
  }

  .configTitle {
    font-size: 24px;
    padding: 0px;
    margin: 0px;
  }

  .configInfo {
    padding: 0px;
    margin: 0px;
    margin-top: 10px;
    color: gray;
  }

  .hideElem {
    display: none;
  }

  .dropdownUI {
    width: 300px;
    height: 485px;
    background-color: #22272e;
    position: fixed;
    top: 190px;
    right: 25px;
    z-index: 500;
    border: 1px solid #474646;
  }

  .dropdownUI-Title {
    padding: 10px;
    margin: 0;
  }

  .dropdownUI-Info {
    margin-left: 10px;
  }

  #iconLibrary {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    overflow: scroll;
    overflow-x: hidden;
    height: 300px;
    margin-right: 5px;
  }

  #iconLibrary ::-webkit-scrollbar {
    width: 1em;
  }

  #iconLibrary ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  #iconLibrary ::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  #iconLibrary ::-webkit-scrollbar-thumb {
    background-color: #474646;
  }

  .iconSelector {
    background-color: #373e47;
    border: 1px solid #40474f;
    border-radius: .5em;
    padding: 20px;
    font-size: 22px;
    width: 25px;
    text-align: center;
    color: gray;
    transition: 500ms ease-in-out;
    list-style: none;
  }

  .iconSelector a {
    text-decoration: none;
    color: inherit;
  }

  .iconSelector:hover {
    background-color: #3e6cf4;
    color: white;
  }


  /* Badges Theme */

  .badge {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: .5em;
    font-size: small;
    background-color: transparent;
    background-color: gray;
    color: black;
    cursor: default;
    user-select: none;
    transition: 1s;
}

.badge-gold {
    background-color: goldenrod;
    color: black;
}

.badge-blue2 {
    background-color: #0074e0;
    color: white;
}

.badge-white {
    background-color: white;
    color: black;
}


.badge-blue {
    background-color: skyblue;
    color: black;
}

.badge-green {
    background-color: rgb(137, 208, 137);
    color: black;
}


.badge-red {
    background-color: rgb(206, 96, 96);
    color: black;
}


.badge-orange {
    background-color: rgb(206, 175, 96);
    color: black;
}

/* end of Badges */

/* Monomaps Alert */

.monomaps-maps-alert {
    width: fit-content;
    height: fit-content;
    z-index: 101;
    position: fixed;
    top: 15px;
    right: 20px;
    max-height: 500px;
    overflow: auto;
}

/* if device has a touch screen */
@media (any-pointer: coarse) {
    /* do your own styles */
    .monomaps-maps-notification-alert {
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 80vw;
        height: fit-content;
        padding: 10px;
        padding-bottom: 25px;
        border-radius: .5em;
        background-color: #22272eeb;
        border: 1px solid #474646;
        transition: 500ms;
        margin: auto;
        z-index: 101;
    }

    #monomaps-config-panel {
        position: fixed;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        width: 90vw;
        height: 75vh;
        border-radius: 1em;
        outline: 1px solid rgb(68, 67, 67);
        background-color: #22272e;
        overflow: auto;
        z-index: 100;
    }
}

/* if device has no touch screen */
    @media (any-pointer: fine) {
        .monomaps-maps-notification-alert {
            position: fixed;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 35vw;
            height: fit-content;
            padding: 10px;
            padding-bottom: 25px;
            border-radius: .5em;
            background-color: #22272eeb;
            border: 1px solid #474646;
            transition: 500ms;
            margin: auto;
            z-index: 101;
        }

        #monomaps-config-panel {
            position: fixed;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 40vw;
            height: 75vh;
            border-radius: 1em;
            outline: 1px solid rgb(68, 67, 67);
            background-color: #22272e;
            overflow: auto;
            z-index: 100;
        }

        #monomaps-mine1-panel {
            position: fixed;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            width: 53.5vw;
            height: 90vh;
            border-radius: 1em;
            outline: 1px solid rgb(68, 67, 67);
            background-color: #22272e;
            overflow: auto;
            z-index: 100;
        }
    }



.monomaps-maps-notification-alert-background {
    background-color: #1c2128e4;
    width: 100%;
    height: 100%;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
}

.monomaps-maps-notification {
    cursor: pointer;
    padding: 10px;
    padding-bottom: 25px;
    background-color: #22272eeb;
    border: 1px solid #474646;
    border-radius: .5em;
    transition: 500ms;
    margin: 5px;
    z-index: 101;
}

.monomaps-maps-notification:hover {
    background-color: #22272e;
}

.success .monomaps-maps-notification-title {
    color: rgb(33, 202, 100) !important;
}

.error .monomaps-maps-notification-title {
    color: rgb(202, 33, 33) !important;
}

.info .monomaps-maps-notification-title {
    color: rgb(33, 98, 202) !important;
}

.warning .monomaps-maps-notification-title {
    color: rgb(202, 151, 33) !important;
}

.monomaps-maps-notification-title {
    max-width: 350px;
    word-wrap: break-word;
    margin: 0;
    padding: 0;
    font-size: x-large;
    color: white;
}

.monomaps-maps-notification-message {
    margin: 0;
    padding-top: 5px; 
    width: fit-content;
    word-wrap: break-word;
    color: rgb(189, 182, 182);
}

/* End of Monomaps Alert */

/* Mines UI */

.monomaps-ui-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 66px;
    padding-left: 20px;
    border-bottom: 1px solid #515253e4;
    background-color: #1c2128;
}

.monomaps-ui-container {
    position: fixed;
    top: 69px;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.a {
    color: #252a32;
}

.monomaps-ui-container .monomaps-mine1-container {
    width: 1035px;
    height: 1024px;
    background: #040404;
    background-size: 1024px 1024px;
    background-image: url('/assets/monomaps/areas/Great%20Millennium%20Mine.jpg');
}

/* End of Mines UI */

/* Monomaps Settings Panel v2 */
#monomaps-config-panel ul {
    margin: 0;
    padding: 0;
}

.config-list li:first-child {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-top: none;
}

.config-list li {
    user-select: none;
    list-style: none; 
    margin:0;
    padding: 15px;
    background-color: #2d3239;
    outline: 1px solid rgb(68, 67, 67);
    font-weight: bold;
    transition: 300ms ease-in-out;
}

.config-list .config-item .config-information {
    color: gray;
    font-size: 14px;
    font-weight: normal;
}

.config-list .config-item:hover {
    background-color: #3e4146;
}

.config-list .config-button {
    position: relative;
    cursor: pointer;
}

.config-list .config-button .badge {
    position: absolute;
    top: 10px;
    right: 10px;
}

.config-list .config-item:active {
    background-color: #5d5e62;
}

.config-list .config-text {
    font-weight: bolder;
    font-size: 20px;
    color: gray;
}

.config-list .config-text-small {
    font-weight: normal;
    font-size: 16px;
    color: white;
}